@mixin flex {
    display: flex;
    display: -webkit-flex;
}

@import url('https://fonts.googleapis.com/css?family=Kanit|Roboto');

h1, h2, h3, h4, h5, h6, .neuNav-head {
    font-family: 'Kanit', sans-serif; 
}
html, body, p, input[type="text"]{
    font-family: 'Roboto', sans-serif;
}

.buffer {
    min-width: 225px;
}

html {
    background-color: rgb(255, 255, 255);
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            //put accent code here
        }
        &:visited {
            text-decoration: none;
        }
    }
}
body {
    * {
        border: solid black 2px;
    }
    header {
        @include flex;
        flex-direction: row;
        max-height: 150px;
        // .logo {
        // }
        img {
            max-height: 150px;
            max-width: 225px;
        }
        nav {
            width: 100%;
        }
    }
    .body {
        @include flex;
        flex-direction: row;
        .page-contents {
            width: 100%;
        }
    }
    footer {
        @include flex;
        flex-direction: row;
        .footer-content {
            @include flex;
            flex-direction: row;
            width: 100%;
            .social-buttons {
                flex: 1;
                text-align: center;
                padding: 10px 0;
            }
            .copyright {
                flex: 1.9;
            }
            .spacer {
                flex: 9.5;
            }
        }
    }
}