@mixin flex {
    display: flex;
    display: -webkit-flex;
}

@import url('https://fonts.googleapis.com/css?family=Kanit|Roboto');

h1, h2, h3, h4, h5, h6, .neuNav-head {
    font-family: 'Kanit', sans-serif; 
}
html, body, p, input[type="text"]{
    font-family: 'Roboto', sans-serif;
}

.buffer {
    min-width: 225px;
}

html {
    background-color: rgb(22, 22, 22);
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            //put accent code here
        }
        &:visited {
            text-decoration: none;
        }
    }
}
body {
    * {
        border: solid black 2px;
    }
    header {
        @include flex;
        flex-direction: row;
        max-height: 150px;
        .logo {
            flex: 1;
            img {
                // max-height: 150px;
                // max-width: 225px;
                max-height: 100%;
                max-width: 100%;
            }
        }
        nav {
            flex: 11;
        }
    }
    .body {
        @include flex;
        flex-direction: row;
        .page-contents {
            width: 100%;
        }
    }
    footer {
        @include flex;
        flex-direction: row;
        .footer-content {
            @include flex;
            flex-direction: row;
            width: 100%;
            .social-buttons {
                flex: 1;
                text-align: center;
                padding: 10px 0;
            }
            .copyright {
                flex: 1.9;
            }
            .spacer {
                flex: 9.5;
            }
        }
    }
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    h1{
        text-align: center;
        color: #fefefe;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    background-color: rgba(0,0,0,0.4);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}