extends layout

block vars
    - var title = "Home";
block content
    div(id="myModal" class="modal")
        div(class="modal-content")
            h1 SPARGO'S WEB IS CURRENTLY UNDER CONSTRUCTION
            img(src="images/hangin.jpg", alt="", srcset="")
