<h1>Welcome! Please excuse the (absense of a) mess!</h1>
<h4>
    Behind the web, I'm busy spinning up a complete overhaul of this site.<br/>
    While I get the bells and whistles prepared, please feel free to read a bit about me and see some of my projects!
</h4>
<div class='container'>
    <div class='about_me'>
        <h1>About Me</h1>
        <p>
            I am a 21-year old full-stack web developement and design major from the small town
            of Mexico, Missouri.
            <br/><br/>
            While I love to leave my creative fingerprint on any project I am a part of, I also strive to know and learn 
            everything that goes on behind the front-end curtain; gaining a full understanding of why and how a project functions.
            <br/><br/>
            When I am not coding/designing, I love to draw, watch movies, and play video games.
            Specifically, I'm a huge fan of the Marvel Cinematic Universe, Dragon Ball Z, and anything Nintendo.
        </p>
    </div>
    <div class='projects'>
        <h1>Projects</h1>
        <ul>
            <li>
                <img src='public/images/projects/vseeks.png' alt='vSeeks_Logo'>
                <p>
                    A virtual Meeseeks Box right within Chrome! <br/>
                    Use this tool to help block distracting websites while you're trying to get important work done. <br/>
                    This was started as a 10-week long conceptualization, development, and presentation project known as Capstone for my college.
                </p>
            </li>
            <li>
                <h3>MORE PROJECTS COMING SOON...</h3>
            </li>
        </ul>
    </div>
</div>